/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  POPUP CSS START    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/

	.arcticmodal_container_box{
		max-width: 100%;
		width: 1135px;
		min-width: inherit;
		background-color: #FFF;
		padding: 30px;
	}
		.arcticmodal-close{
			font-size: 28px;
			font-weight: bold;
			line-height: 1.5;
			width: 42px;
			height: 42px;
			top: 0;
			right: 0;
			color: white;
    		background: #2d55b1;
		}
		.arcticmodal-close:hover{
			opacity: 1;
		}
/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  POPUP CSS END      <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/
