/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  RESPONSIVE LAYOUTS START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/
@media only screen and (max-width: 1260px) {
		/*body{min-width:768px;}*/
	.container {
	    width: 970px;
	    padding-left:30px;
	    padding-right:30px;
	}
	.menu_link{
	    padding: 31px 15px 32px;
	}
	.header_from_stock{
		width: 90px;
	    font-size: 22px;
	    margin-left: 15px;
	}
		.header_from_stock:before{
			width: 90px;
		}
	.specification_info{
		width: 38%;
	}
	.specification_img{
		margin-right: -30px;
		width: 60%;
	}	
	.resp-tabs-list{
		margin: 10px -30px 0;
	}
	[class^="pointer"]{
		font-size: 13px;
	}
	.pointer1{
	    width: 225px;
	}
		.pointer1:before{
			width: 40px;
			height: 125px;
		}
	.pointer2{
	    width: 153px;
	}
		.pointer2:before{
			width: 115px;
			height: 65px;
		}	
	.pointer3{
        width: 132px;
    }
        .pointer3:before{
            width: 35px;
            height: 40px;
            bottom: 100%;
            right: 99%;
            background: url(../images/pointer_img3.png) 0 0 no-repeat;
        }	
    .pointer4{
        width: 148px;
        top: 60%;
        left: 43%;
    }    
        .pointer4:before{
            width: 48px;
            height: 93px;
            bottom: 100%;
            left: 0;
            background: url(../images/pointer_img4.png) 0 0 no-repeat;
        }  
	.pointer5{
        width: 135px;
        top: 34%;
        left: 79.5%;
    }   
        .pointer5:before{
            width: 125px;
            height: 36px;
            top: 100%;
            right: 99%;
            background: url(../images/pointer_img5.png) 0 0 no-repeat;
        } 
    .pointer6{
        width: 98px;
        top: 73.5%;
        left: 54.6%;
    }     
        .pointer6:before{
            width: 193px;
            height: 32px;
            top: 100%;
            right:;
            background: url(../images/pointer_img6.png) 0 0 no-repeat;
        }     
    .owl-carousel_gallery{
	    padding: 0 50px 0 80px;
    }    
    .slider_gallery_item{
    	width: 90%;
    }
    .slider_gallery .owl-carousel_gallery .owl-controls .owl-nav .owl-prev, 
    .slider_gallery .owl-carousel_gallery .owl-controls .owl-nav .owl-next{
    	top: 50px;
    }

}

@media only screen and (max-width: 1050px) {
	.menu_link{
	    padding: 31px 12px 32px;
	}

}	

@media only screen and (max-width: 1024px){
	
}

@media only screen and (max-width: 992px) {
		/*body{min-width:768px;}*/
	.container {
	    width: 750px;
	    padding-left:20px;
	    padding-right:20px;
	}
	/*============== Styles for NAVIGATION =================*/

	.show_menu_btn{
		width: 42px;
		height: 35px;
		display: block;
		cursor: pointer;
		background: url(../images/menu_hamburger.png) 50% 50% no-repeat;
		position: absolute;
		top: 23px;
		left: -35%;
		z-index: 99;
	}
		.show_menu_btn:hover{
			background-color: #dddddd;
		}

	.show_menu .show_menu_btn{
		left: -50px;
		background-color: #dddddd;
	}

	.navigation_menu{
		width: 420px;
		height: 100%;
		position: fixed;
		z-index: 99999;
		top: 0;
		right: 0;
		-moz-transform: translateX(100%);
		-webkit-transform: translateX(100%);
		-o-transform: translateX(100%);
		-ms-transform: translateX(100%);
		transform: translateX(100%);
	    background: rgba(255, 255, 255, 0.9);
	}

	.show_menu_btn,
	.navigation_menu,
	.nav_overlay{
		-webkit-transition: all 500ms ease;
		-moz-transition: all 500ms ease;
		-ms-transition: all 500ms ease;
		-o-transition: all 500ms ease;
		transition: all 500ms ease;
	}

	.navigation_menu .menu{
		overflow: auto;
		max-height: 100%;
	}

	.menu_item{
		font-size: 20px;
		float: none;
	}
		.menu_link{
			text-align: center;
			width: 100%;
			display: block;
			padding: 12px 20px;
		}

	.show_menu .navigation_menu{
		-moz-transform: translateX(0);
		-webkit-transform: translateX(0);
		-o-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}

	.show_menu .nav_overlay{
		opacity: .5;
		visibility: visible;

	}
	.specification_info{
		width: 35%;
	}
	.specification_img{
		margin-right: -20px;
		width: 62%;
	}	
	.resp-tabs-list{
		margin: 10px -20px 0;
	}
	.specification_list{
		width: 98%;
	}
	.specification_list li{
		font-size: 14px;
	}

	[class^="pointer"]{
		font-size: 12px;
	}
	.pointer1{
	    width: 195px;
	}
		.pointer1:before{
			width: 20px;
			height: 80px;
		}
	.pointer2{
	    width: 143px;
	}
		.pointer2:before{
			width: 85px;
			height: 50px;
		}	
	.pointer3{
        width: 122px;
    }
        .pointer3:before{
            width: 23px;
            height: 25px;
            bottom: 100%;
            right: 99%;
            background: url(../images/pointer_img3.png) 0 0 no-repeat;
        }	
    .pointer4{
        width: 138px;
        top: 60%;
        left: 43%;
    }    
        .pointer4:before{
            width: 33px;
            height: 60px;
            bottom: 100%;
            left: 0;
            background: url(../images/pointer_img4.png) 0 0 no-repeat;
        }  
	.pointer5{
        width: 125px;
        top: 34%;
        left: 79.5%;
    }   
        .pointer5:before{
            width: 90px;
            height: 26px;
            top: 100%;
            right: 99%;
            background: url(../images/pointer_img5.png) 0 0 no-repeat;
        } 
    .pointer6{
        width: 88px;
        top: 73.5%;
        left: 54.6%;
    }     
        .pointer6:before{
            width: 150px;
            height: 18px;
            top: 100%;
            right:;
            background: url(../images/pointer_img6.png) 0 0 no-repeat;
        }  
}
@media only screen and (max-width: 940px){
	.show_menu_btn{
		left: -30%;
	}
}
@media only screen and (max-width: 900px){
	.show_menu_btn{
		left: -25%;
	}
}
@media only screen and (max-width: 850px){
	.slider_gallery .owl-carousel_gallery .owl-controls .owl-nav .owl-prev, 
    .slider_gallery .owl-carousel_gallery .owl-controls .owl-nav .owl-next{
    	top: 60px;
    }
}

@media only screen and (max-width: 768px) {
		/*body{min-width:420px;}*/
	.container{
		width: 100%;
		padding-left:15px;
	    padding-right:15px;
	}
	.resp-accordion{
		width: 100%;
		text-align: center;
		cursor: pointer;
		font-size: 20px;
		padding: 10px;
		color: #2c54b0;
	    background: #f3f4f8;
	    margin-bottom: 0;
	    border: 1px solid transparent;
	}
		.resp-accordion.resp-tab-active{
		    border: 1px solid #cccccc;
		    background: -webkit-linear-gradient(top, #ffffff 0%, #dbdbdd 100%);
		    background: linear-gradient(to bottom, #ffffff 0%, #dbdbdd 100%);
		}
	
	.specification_info{
		width: 100%;
		margin-bottom: 15px;
	}
	.slider_design_item{
		text-align: center;
	}
	.specification_img{
		margin-right: 0;
		width: 100%;
	}
	[class^="pointer"]{
		position: relative;
		margin: 10px 10px 0 10px;
		padding: 0 0 0 15px;
		left: 0;
		font-size: 14px;
		width: 250px;
		display: inline-block;
	}
	[class^="pointer"]:before{
		content: "";
		display: block;
		width: 7px;
		height: 7px;
		top: 6px;
		left: 0;
		position: absolute;
		background: #333;
	}
	.owl-carousel_gallery{
	    padding: 0;
    }    
    .slider_gallery_item{
    	width: 100%;
    }
    .slider_gallery .owl-carousel_gallery .owl-controls .owl-nav .owl-prev, 
    .slider_gallery .owl-carousel_gallery .owl-controls .owl-nav .owl-next{
    	top: 83px;
    }

    .virtual_tour{
    	height: 350px;
    }

}	

@media only screen and (max-width: 550px){
	.slider_gallery .owl-carousel_gallery .owl-controls .owl-nav .owl-prev, 
    .slider_gallery .owl-carousel_gallery .owl-controls .owl-nav .owl-next{
    	top: 60px;
    }
}

@media only screen and (max-width: 540px){
	.slider_gallery .owl-carousel_gallery .owl-controls .owl-nav .owl-prev, 
    .slider_gallery .owl-carousel_gallery .owl-controls .owl-nav .owl-next{
    	top: 93px;
    }
}

@media only screen and (max-width: 480px) {
		/*body{min-width:320px;}*/
	.navigation_menu{
		width: 240px;
	}
	.logo a{
		width: 120px;
		height: 25px;
		-webkit-background-size: 100% 100%;
		background-size: 100% 100%;
	}
	.show_menu_btn{
		left: -18%;
	}
	.main_box_indicators{
		width: 100%;
	}
	.main_box_bottom{
		left: 0;
		right: 0;
		padding: 0 10px;
	}
		.main_box_bottom .f_right{
			float: none;
		}
	.circle_btn {
		position: static;
		margin-bottom: 15px;
		float: none;
	}	
	.btn_bg_blue{
		position: relative;
		width: 100%;
		font-size: 14px;
	}
		.btn_bg_blue:before{
			height: 100%;
		}
	
	.virtual_tour .btn_bg_aqua{
		width: 100%;
	}
	.slider_gallery .owl-carousel_gallery .owl-controls .owl-nav .owl-prev, 
    .slider_gallery .owl-carousel_gallery .owl-controls .owl-nav .owl-next{
    	top: 50px;
    }
}
@media only screen and (max-width: 400px){
	.slider_gallery .owl-carousel_gallery .owl-controls .owl-nav .owl-prev, 
    .slider_gallery .owl-carousel_gallery .owl-controls .owl-nav .owl-next{
    	top: 88px;
    }
    [class^="pointer"]{
		width: 90%;
	}	
}




/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  RESPONSIVE LAYOUTS END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================