/*====>>  Stylesheet Guide START  <<====*/
        

        /*<<=========================================>>

        1. IMPORT Plugins and other CSS files
        2. DEFAULT Stylesheets
        3. BASIC classes main
            3.1) TOUCH hacks
            3.2) POSITIONS blocks (float:)
            3.3) POSITIONS text (text-align:)
            3.4) VERTICALLY align boxs (vertical-align:)
            3.5) INDENTS Zero !IMPORTANT
            3.6) POSITIONS (position:)
            3.7) ZEROING float
            3.8) DISPLAYS (dispay:)
            3.9) LINKS And BUTTONS
            3.10) HOVERS TRANSITION
            3.11) TITLES
            3.12) BACKGROUNDS
            3.13) COLORS
            3.14) GOOGLE FONTS
            3.15) INSTALL FONTS
            3.16) VISIBILITY
            3.17) TEXTAFIELD (placeholder animation)
            3.18) BREADCRUMBS  START
        4. HEADER
        5. CONTENT
        6. FOOTER 
        
        <<=========================================>>*/
        

/*====>>  Stylesheet Guide END    <<====*/



/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  IMPORT Plugins and other CSS files START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/


        @import "../css/reset.css";
        @import "../css/indent.min.css";
        @import "../css/animate.css";
        @import "../font-awesome-4.5.0/css/font-awesome.css";
        @import "../plugins/owl-carousel/owl.carousel.css";
        @import "../plugins/formstyler/formstyler.css";
        @import "../plugins/easy-responsive-tabs/easy-responsive-tabs.css";
        @import "../plugins/arcticmodal/jquery.arcticmodal.css";
        @import "../css/plugins.css";
        @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

        @import "../css/style_l.css";

/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  IMPORT Plugins And Other CSS files END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/




/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  DEFAULT Stylesheets START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/


    article,
    aside,
    audio,
    canvas,
    command,
    datalist,
    details,
    embed,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    keygen,
    meter,
    nav,
    output,
    progress,
    section,
    source,
    video{
        display:block;
    }
    mark,
    rp,
    rt,
    ruby,
    summary,
    time{
        display:inline;
    }
    span,
    img,
    a{
       display: inline-block; 
    }

    html {width:100%;}

    body {
        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
        font-size: 14px;
        line-height: inherit;
        color: #333;
        min-width:320px;
        background-color: #051E60;
        /*background:url(../images/body_bg.jpg) 50% 0 repeat #fff;*/
        -webkit-text-size-adjust: none;
    }
    img{
        max-width: 100%;
        height: auto;
        display: inline-block;
    }
    *{
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
    }
    hr{
        border: none;
        border-top: 1px solid #888;
        margin: 0;
    }
    .container{
        max-width: 1300px;
        margin-right: auto;
        margin-left: auto;
        padding-left: 60px;
        padding-right: 60px;
    }

/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  DEFAULT Stylesheets END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/




/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  BASIC classes main START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<  
<================================================*/




        /*=======================>  TOUCH hacks START  <=======================*/


            /* input, */
            textarea,
            button{
                -webkit-appearance: none;
                -webkit-border-radius:0; 
                border-radius:0;
                outline:none;
            }


        /*=======================>  POSITIONS blocks (float:) START  <=======================*/
            

            .f_left {float:left;}
            .f_right {float:right;}
            .f_none {float:none;}


        /*=======================>  POSITIONS text (text-align:) START  <=======================*/


            .al_left{text-align: left;}
            .al_right{text-align:right;}
            .al_center{text-align:center;}
            .al_justify{text-align:justify;}


        /*=======================>  VERTICALLY align boxs (vertical-align:) START  <=======================*/
        

            .val_mid{vertical-align: middle;}
            .val_bot{vertical-align: bottom;}
            .val_top{vertical-align: top;}
        

        /*=======================>  INDENTS Zero !IMPORTANT START  <=======================*/


            .m_t_zero{ margin-top:0 !important;}
            .m_b_zero{ margin-bottom:0 !important;}
            .m_r_zero{ margin-right:0 !important;}
            .m_l_zero{ margin-left:0 !important;}
            .p_t_zero{ padding-top:0 !important;}
            .p_b_zero{ padding-bottom:0 !important;}
            .p_r_zero{ padding-right:0 !important;}
            .p_l_zero{ padding-left:0 !important;}


        /*=======================>  POSITIONS (position:) START  <=======================*/
            

            .p_abs{position: absolute;}
            .p_rel{position: relative;}
            .p_fix{position: fixed;}
            .p_static{position: static;}

            .full_abs{
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                display: block;
                z-index: 99;
            }


        /*=======================>  ZEROING float START  <=======================*/


            .clear {
                clear:both;
                width:100%;
                line-height:0;
                font-size:0;
            }

            .clearfix:after,
            .container:after{
              content: "";
              display: block;
              height: 0;
              clear: both;
              visibility: hidden;
            }

            .wrapper {overflow:hidden;}


        /*=======================>  DISPLAYS (dispay:) START  <=======================*/


            .d_block{ display:block;}
            .d_ib{ display:inline-block;}
            .d_none{ display:none;}
            .d_t{ display:table;}
            .d_row{ display:table-row;}
            .d_tc{ display:table-cell;}


        /*=======================>  LINKS And BUTTONS START  <=======================*/


            * a,
            * button{
                cursor: pointer;
                outline:none !important;
            }
            a {
                color:#666;
                outline:none;
                text-decoration: underline;
                display: inline-block;
            }
            a:hover{
                text-decoration: underline;
            }
            button{
                border: none;
                padding: 10px 10px 10px 10px;
                display: inline-block;
                background-color: gray;
                color: #FFF;
                -webkit-border-radius: 0px;
                        border-radius: 0px;
                text-transform: uppercase;
            }
            [class*="btn_"]{
                padding: 8px 43px;
                font-size: 16px;
                color: #fff;
                font-weight: 700;
                text-decoration: none;
                -webkit-border-radius: 0px;
                        border-radius: 0px;
            }

            .btn_bg_blue{
                position: relative;
                background-color: #2C54B0;
                text-shadow: 1px 2px 1px rgba(28, 53, 111, 0.5);
            }
                .btn_bg_blue:before{
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 35px;
                    height: 100%;
                    background: #082c7a url(../images/icon/btn_arrow.png) 50% 50% no-repeat;
                    -webkit-transition: all 0.7s ease;
                    -moz-transition: all 0.7s ease;
                    -o-transition: all 0.7s ease;
                    transition: all 0.7s ease;
                }
                .btn_bg_blue:hover{
                    background-color: #f86301;
                    text-decoration: none;
                }
                    .btn_bg_blue:hover:before{
                        background-color: rgba(0, 0, 0, 0.25);
                        -webkit-transition: all 0.1s ease;
                        -moz-transition: all 0.1s ease;
                        -o-transition: all 0.1s ease;
                        transition: all 0.1s ease;
                    }
            .circle_btn{
                color: #FFF;
                font-size: 14px;
                line-height: 33px;
                font-weight: 500;
                text-align: center;
                text-decoration: none;
                text-shadow: 1px 2px 1px rgba(28, 53, 111, 0.5);
                width: 77px;
                height: 77px;
                padding: 28px 5px 17px;
                -webkit-border-radius: 50%;
                        border-radius: 50%;
                background: rgba(44, 84, 176, 0.5) url(../images/icon/tick_icon.png) 50% 20% no-repeat;
            }


        /*======================>>  HOVERS TRANSITION START <<======================*/


                a,
                button{
                    -webkit-transition: all 0.7s ease;
                    -moz-transition: all 0.7s ease;
                    -o-transition: all 0.7s ease;
                    transition: all 0.7s ease;
                }
                a:hover,
                button{
                    -webkit-transition: all 0.1s ease;
                    -moz-transition: all 0.1s ease;
                    -o-transition: all 0.1s ease;
                    transition: all 0.1s ease;
                }


        /*======================>  TITLES START  <======================*/
            

            h1,h2,h3,h4,h5,h6{
                font-weight:normal;
                margin-bottom: 20px;
            }
            
            .title{
                
            }

            .title1{
                color: #FFF;
                font-size: 42px;
                font-weight: 700;
                line-height: 1.2;
                text-transform: uppercase;
                text-shadow: 1px 2px 1px rgba(133, 134, 135, 0.5);
            }

            .title2,
            .title2_2{
                color: #888;
                font-size: 38px;
                line-height: 1.2;
                font-weight: 700;
                text-transform: uppercase;
            }
            .title2_2{
                color: #FFF;
                text-shadow: 1px 2px 1px rgba(133, 134, 135, 0.5);
            }

            .title3{
                color: #333;
                font-size: 24px;
                line-height: 1.2;
                font-weight: 700;
                text-transform: uppercase;
            }

            .title4{
                
            }

            .it{font-style:italic;}

            .let{letter-spacing:-1px;}

            .reg {text-transform:uppercase;}

            .td_und{text-decoration: underline;}
            .td_und:hover{text-decoration: none;}

            .td_und_no{text-decoration: none;}
            .td_und_no:hover{text-decoration: underline;}

            .td_no{text-decoration: none !important;}


        /*=======================>  BACKGROUNDS START  <=======================*/


            .bg_none{ background:none !important;}
            .bg_black{background-color: #000;}
            .bg_white{background-color: #fff;}

            .btn_gray{
                background-color: gray;
            }

            [data-bg="white"]{
                background-color: #FFF;
            }
            [data-bg="grey"]{
                background-color: #DFDDDE;
            }
            [data-bg="main_img"]{
                background: url(../images/main_img.jpg) 0 0 no-repeat;
            }
            [data-bg="v_tour"]{
                background: url(../images/tour_bg.jpg) 0 0 no-repeat;
            }

        /*=======================>  COLORS START  <=======================*/


            .white{ color: #FFF;}
            .black{ color: #000;}


        /*======================>  GOOGLE FONTS START  <======================*/
        

            .roboto_thn,
            .roboto_lt,
            .roboto_reg,
            .roboto_med,
            .roboto_bd,
            .roboto_ultra_bd{
                font-family: 'Roboto', sans-serif;
            }
            .roboto_thn{font-weight: 100;}
            .roboto_lt{font-weight: 300;}
            .roboto_reg{font-weight: 400;}
            .roboto_med{font-weight: 500;}
            .roboto_bd{font-weight: 700;}
            .roboto_ultra_bd{font-weight: 900;}


        /*======================>  INSTALL FONTS START  <======================*/
        

            /*@font-face {
                font-family: "LatoRegular";
                src: url("../font/Lato/LatoRegular.eot");
                src: url("../font/Lato/LatoRegular.eot?#iefix")format("embedded-opentype"),
                url("../font/Lato/LatoRegular.woff") format("woff"),
                url("../font/Lato/LatoRegular.ttf") format("truetype");
                font-style: normal;
                font-weight: normal;
            }*/


        /*======================>  VISIBILITY START  <======================*/
        

            .visible{
                visibility: visible;
            }
            .invisible{
                visibility: hidden;
            }


        /*======================>  TEXTAFIELD (placeholder animation) START  <======================*/
        
            /*===  input start  ===*/
            input.invalid,
            textarea.invalid,
            .jq-selectbox.invalid .jq-selectbox__select{
                border: 2px solid red;    
            }

            input::-webkit-input-placeholder,
            .contact_input::-webkit-input-placeholder{
                font-family: 'Open Sans', sans-serif;
                visibility: visible;
                opacity: 1;
                transition: all 0.5s ease;
                color: #f9f9f9;
                font-size: 12px;
                -ms-text-overflow: ellipsis;
                text-overflow: ellipsis;
            }
            input::-moz-placeholder,
            .contact_input::-moz-placeholder{
                font-family: 'Open Sans', sans-serif;
                visibility: visible;
                opacity: 1;
                transition: all 0.5s ease;
                color: #f9f9f9;
                font-size: 12px;
                -ms-text-overflow: ellipsis;
                text-overflow: ellipsis;
            }
            input:-moz-placeholder,
            .contact_input:-moz-placeholder{
                font-family: 'Open Sans', sans-serif;
                visibility: visible;
                opacity: 1;
                transition: all 0.5s ease;
                color: #f9f9f9;
                font-size: 12px;
                -ms-text-overflow: ellipsis;
                text-overflow: ellipsis;
            }
            input:-ms-input-placeholder,
            .contact_input:-ms-input-placeholder{
                font-family: 'Open Sans', sans-serif;
                visibility: visible;
                opacity: 1;
                transition: all 0.5s ease;
                color: #f9f9f9;
                font-size: 12px;
                -ms-text-overflow: ellipsis;
                text-overflow: ellipsis;
            }

            input:focus::-webkit-input-placeholder ,
            .contact_input:focus::-webkit-input-placeholder {
                opacity: 0;
                visibility: hidden;
                transition: all 0.5s ease;
            }
            input:focus::-moz-placeholder,
            .contact_input:focus::-moz-placeholder{
                opacity: 0;
                visibility: hidden;
                transition: all 0.5s ease;
            }
            input:focus:-moz-placeholder,
            .contact_input:focus:-moz-placeholder{
                opacity: 0;
                visibility: hidden;
                transition: all 0.5s ease;
            }
            input:focus:-ms-input-placeholder,
            .contact_input:focus:-ms-input-placeholder{
                opacity: 0;
                visibility: hidden;
                transition: all 0.5s ease;
            }
            /*===  input end    ===*/
            
            /*===  textarea start  ===*/
            textarea::-webkit-input-placeholder{
                line-height: 20px;   
                transition: all 0.5s ease;
                color: #f9f9f9;
                font-size: 12px;
            }
            textarea::-moz-placeholder{
                line-height: 20px;   
                transition: all 0.5s ease;
                color: #f9f9f9;
                font-size: 12px;
            }
            textarea:-moz-placeholder{
                line-height: 20px;   
                transition: all 0.5s ease;
                color: #f9f9f9;
                font-size: 12px;
            }
            textarea:-ms-input-placeholder{
                line-height: 20px;   
                transition: all 0.5s ease;
                color: #f9f9f9;
                font-size: 12px;
            }

            textarea:focus::-webkit-input-placeholder{
                transition: all 0.5s ease;
                -webkit-transform: translateY(-50px);
                -ms-transform: translateY(-50px);
                -o-transform: translateY(-50px);
                transform: translateY(-50px);
            }
            textarea:focus::-moz-placeholder{
                transition: all 0.5s ease;
                -webkit-transform: translateY(-50px);
                -ms-transform: translateY(-50px);
                -o-transform: translateY(-50px);
                transform: translateY(-50px);
            }
            textarea:focus:-moz-placeholder{
                transition: all 0.5s ease;
                -webkit-transform: translateY(-50px);
                -ms-transform: translateY(-50px);
                -o-transform: translateY(-50px);
                transform: translateY(-50px);
            }
            textarea:focus:-ms-input-placeholder{
                transition: all 0.5s ease;
                -webkit-transform: translateY(-50px);
                -ms-transform: translateY(-50px);
                -o-transform: translateY(-50px);
                transform: translateY(-50px);
            }
            /*===  textarea end    ===*/
            /*---------Global overlay----------*/

                .nav_overlay{
                  opacity: 0;
                  visibility: hidden;
                  position: fixed;
                  right: 0;
                  top: 0;
                  bottom: 0;
                  left: 0;
                  z-index: 222;
                  background-color: #000;
                }
            

        /*======================>  BREADCRUMBS  START  <======================*/
            
            .breadcrumbs_container{
                background-color: #ff6633;
            }
                .breadcrumbs{
                    display: block;
                    list-style: none;
                    margin: 24px 0 24px 0;
                }
                    .breadcrumbs_it{
                        position: relative;
                        float: left;
                        margin-right: 4px;
                        padding-right: 15px;
                    }
                    .breadcrumbs_it:before{
                        display: block;
                        position: absolute;
                        right: 0;
                        top: 0;
                        content: attr(data-bread-arr);
                        color: #fff;
                        font-size: 20px;
                        line-height: 20px;
                        /* background: url(../images/icon_breadcrumbs.png) 0 0 no-repeat; */
                        /* width: 6px;
                        height: 6px; */
                    }
                    .breadcrumbs .breadcrumbs_it:last-child:before{
                        display: none;
                    }
                        .breadcrumbs_it a{
                            text-decoration: none;
                            color: #fff;
                        }
                        .breadcrumbs .breadcrumbs_it:first-child a{padding-left: 0;}
                        .breadcrumbs_it a:hover{
                            text-decoration: underline;
                        }
                            .breadcrumbs_current{
                                font-size: 15px;
                                line-height: 21px;
                                font-weight: 700;
                                color: #fff;
                            }




/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  BASIC classes main END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/




/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  HEADER START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/


    header {
        position: fixed;
        width: 100%;
        z-index: 99999;
    }
        .header_container{
            height: 85px;
            position: relative;

        }
            .navigation_menu{
            }
            .logo{
                padding-top: 28px;                
            }
                .logo a{
                    display:block;
                    width:152px;
                    height:29px;
                    background:url(../images/logo.png) 0 0 no-repeat;
                    text-decoration:none;
                    text-indent:-9999px;
                    font-size: 0;
                }

            .header_from_stock{
                width: 101px;
                padding: 20px 0 10px;
                height: 100%;
                margin-left: 27px;
                background: #FF7900;
                color: #fff;
                text-align: center;
                font-size: 24px;
                position: relative;
                font-weight: 700;
                line-height: 26px;
            }    
                .header_from_stock:before{
                    content: "";
                    background: url(../images/from_stock_arrow.png) 0 0 no-repeat;
                    -webkit-background-size: 100% 100%;
                    background-size: 100% 100%;
                    width: 101px;
                    height: 28px;
                    display: block;
                    position: absolute;
                    top: 100%;
                    left: 0;      
                    z-index: 9999;  
                }

            .menu_item{
                float: left;
            }    

                .menu_link{
                    padding: 31px 31px 32px;
                    font-size: 16px;
                    color: #2d4686;
                    text-decoration: none;
                }
                    .menu_item:hover .menu_link,
                    .menu_item.current .menu_link{
                        text-decoration: none;
                        background: #e6e6e6;
                    }
                    .menu_item.current .menu_link{
                        box-shadow: inset 0 -4px 0 #f24b00;
                    }




/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  HEADER END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/




/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  CONTENT START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/


    #content {
        padding: 85px 0px 0 0px; 
        min-height: 600px;
    }
    .main_box{
        height: 665px;
        padding-top: 46px;
        position: relative;
    }
        .main_box_indicators{
            width: 340px;
            background: rgba(255, 255, 255, .8);
            padding: 20px 25px 20px 17px;    
        }
            .main_box_indicators_list_item{
                color: #0b2f79;
                font-size: 16px;
                font-weight: 600;
                text-transform: uppercase;
                padding: 5px 0;
                border-top: 1px solid #82a4c1;
            }
                .main_box_indicators_list_item:first-child{
                    border-top: none;
                }

        .main_box_bottom{
            position: absolute;
            left: 60px;
            right: 60px;
            bottom: 62px;
        }        
    
    .tabs_box{}
        .specification_img{
            margin-right: -60px;
            width: 71.6%;
        }
        
        .resp-tabs-list{
            height: 92px;
            margin: 0 -60px;
        }

            .tabs_list_item{
                text-transform: uppercase;
                float: left;
                padding: 23px 20px;
                color: #2c54b0;
                text-align: center;
                width: 20%; 
                background: #f3f4f8;
                font-size: 16px;
                cursor: pointer; 
                border: 1px solid transparent;
            }
                .tabs_list_item.resp-tab-active{
                    border: 1px solid #cccccc;
                    background: -webkit-linear-gradient(top, #ffffff 0%, #dbdbdd 100%);
                    background: linear-gradient(to bottom, #ffffff 0%, #dbdbdd 100%);

                }


    .slider_design{
        padding: 30px 60px 0;
        overflow: hidden;     
    }  
        .slider_design_item{
            padding-top: 50px;
            margin: 0 45px;
            position: relative;
        } 
        [class^="pointer"]{
            position: absolute;
            font-size: 14px;
            padding: 4px 0;
        }
            [class^="pointer"]:before{
                content: "";
                position: absolute;
                display: block;
                -webkit-background-size: 100% 100% !important;
                background-size: 100% 100% !important;   
            }
        .pointer1{
            width: 241px;
            top: 0;
            left: 23%;
        }
            .pointer1:before{
                width: 44px;
                height: 162px;
                top: 100%;
                background: url(../images/pointer_img1.png) 0 0 no-repeat;
            }
        .pointer2{
            width: 168px;
            top: 0;
            left: 56%;    
        }  
            .pointer2:before{
                width: 155px;
                height: 80px;
                top: 100%;
                right: 99%;
                background: url(../images/pointer_img2.png) 0 0 no-repeat;
            }  
        .pointer3{
            width: 145px;
            top: 60%;
            left: 23%;
        }
            .pointer3:before{
                width: 43px;
                height: 46px;
                bottom: 100%;
                right: 99%;
                background: url(../images/pointer_img3.png) 0 0 no-repeat;
            }
        .pointer4{
            width: 158px;
            top: 60%;
            left: 43%;
        }    
            .pointer4:before{
                width: 62px;
                height: 129px;
                bottom: 100%;
                left: 0;
                background: url(../images/pointer_img4.png) 0 0 no-repeat;
            }  
        .pointer5{
            width: 145px;
            top: 34%;
            left: 79.5%;
        }   
            .pointer5:before{
                width: 172px;
                height: 52px;
                top: 100%;
                right: 99%;
                background: url(../images/pointer_img5.png) 0 0 no-repeat;
            }   
        .pointer6{
            width: 108px;
            top: 73.5%;
            left: 54.6%;
        }     
            .pointer6:before{
                width: 258px;
                height: 64px;
                top: 100%;
                right:;
                background: url(../images/pointer_img6.png) 0 0 no-repeat;
            }        

        .slider_design .owl-carousel .owl-controls .owl-nav .owl-prev,
        .slider_design .owl-carousel .owl-controls .owl-nav .owl-next,
        .slider_gallery .owl-carousel_gallery .owl-controls .owl-nav .owl-prev,
        .slider_gallery .owl-carousel_gallery .owl-controls .owl-nav .owl-next{
            text-indent:-9999px;
            position: absolute;
            top: 83px;
            width: 45px;
            height: 45px;
            background: url(../images/arrow_prev.png) 0 0 no-repeat;
        }        
        .slider_design .owl-carousel .owl-controls .owl-nav .owl-prev,
        .slider_design .owl-carousel .owl-controls .owl-nav .owl-next{
            top: 50%;
             margin-top: -22px
        }
        .slider_design .owl-carousel .owl-controls .owl-nav .owl-prev,
        .slider_gallery .owl-carousel_gallery .owl-controls .owl-nav .owl-prev{
            left: 0;
        }   
        .slider_design .owl-carousel .owl-controls .owl-nav .owl-next,
        .slider_gallery .owl-carousel_gallery .owl-controls .owl-nav .owl-next{
            right: 0;
            transform: rotate(180deg);
        }
            .slider_design .owl-carousel .owl-controls .owl-nav .owl-prev:hover,
            .slider_design .owl-carousel .owl-controls .owl-nav .owl-next:hover,
            .slider_gallery .owl-carousel_gallery .owl-controls .owl-nav .owl-prev:hover,
            .slider_gallery .owl-carousel_gallery .owl-controls .owl-nav .owl-next:hover{
                background: url(../images/arrow_prev_hover.png) 0 0 no-repeat;
            }

    
    .virtual_tour{
        height: 575px;
        padding-top: 30px; 
    }
        .virtual_tour .btn_bg_aqua{
            width: 330px;
            height: 38px;
            font-weight: normal;
            background-position: 94% 50%;
        }
            .virtual_tour .btn_bg_aqua:hover{
                text-decoration: none;
                background-color: #f86301;
            }

    .slider_gallery{
        padding-top: 30px;
        padding-bottom: 30px;
    }
        .owl-carousel_gallery{
            padding: 0 50px 0 95px;
            overflow: hidden;
            /*height: 280px;*/
        }
            .slider_gallery_item{
                width: 300px;
                height: auto;
            } 
                .slider_gallery .owl-carousel_gallery .owl-controls .owl-dots{
                    text-align: center;
                    margin-top: 60px;
                }
                .slider_gallery .owl-carousel_gallery .owl-controls .owl-dots .owl-dot{
                    display: inline-block;
                    margin-right:10px;
                }
                .slider_gallery .owl-carousel_gallery .owl-controls .owl-dots .owl-dot span{
                    width: 15px;
                    height: 15px;
                    border: 2px solid #888888;
                    border-radius: 100%;
                }
                .slider_gallery .owl-carousel_gallery .owl-controls .owl-dots .owl-dot.active span{
                    background: #f86301;
                    border-color: #f86301;
                }
        

    /*======================>  HOME PAGE START  <======================*/

    /*======================>  HOME PAGE END    <======================*/


/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  CONTENT END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/




/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  FOOTER START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/


    footer {
        padding:30px 0px 30px 0px;
    }
        

/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  FOOTER END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/


/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  ANCHOR START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/


    #ahchor{
        
    }
    .ahchor{
        
    }
        .arrow_up {
            position: fixed;
            z-index: 99;
            right: 150px;
            bottom: 150px;
            visibility: hidden;
            opacity: 0;
            bottom: 200px;
            cursor: pointer;
            -webkit-transition: all linear 0.2s;
               -moz-transition: all linear 0.2s;
                -ms-transition: all linear 0.2s;
                 -o-transition: all linear 0.2s;
                    transition: all linear 0.2s;
        }
        .arrow_up.active{
            opacity: 0.6;
            visibility: visible;
        }

            .arrow_up .fa-arrow-up{
                border: 3px solid #888;
                width: 70px;
                height: 70px;
                -webkit-border-radius: 50%;
                        border-radius: 50%;
                overflow: hidden;
                text-align: center;
                background-color: transparent;
            }
            .arrow_up .fa-arrow-up:before{
                font-size: 30px;
                color: #888;
                line-height: 65px;    
            }
            .arrow_up:hover,
            .arrow_up.click{
                opacity: 1;
                -webkit-transform: scale(1.1);
                   -moz-transform: scale(1.1);
                    -ms-transform: scale(1.1);
                     -o-transform: scale(1.1);
                        transform: scale(1.1);
                -webkit-transition: all ease-in 0.2s;
                   -moz-transition: all ease-in 0.2s;
                    -ms-transition: all ease-in 0.2s;
                     -o-transition: all ease-in 0.2s;
                        transition: all ease-in 0.2s;
            }
            .arrow_up:hover .fa-arrow-up,
            .arrow_up.click .fa-arrow-up{
                background-color: #34A706;
                border: 3px solid #34A706;
            }
            .arrow_up:hover .fa-arrow-up:before,
            .arrow_up.click .fa-arrow-up:before{
                color: #fff;            
            }


/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  ANCHOR END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/