/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  FOOTER START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/


    footer {
        padding:30px 0px 30px 0px;
    }

    	.footer-left {
		    float: left;
		    width: 42%;

		    padding-right: 15px;
		    font-size: 38px;
		    text-align: left;
		    color: #5d71ac;
		    text-transform: uppercase;
		}
		.footer-right {
		    float: right;
		    width: 38%;
		}
			.connect_list{
				padding: 10px 0;
			}
				.connect_item{
					display: inline-block;
				}
					.tw,
					.fb,
					.in,
					.yt{
						float: left;
						color: #FFF;
						font-weight: 400;
						margin-left: 8px;
						padding: 6px 0 7px 40px;
						position: relative;
						display: inline-block;
						text-decoration: none;
					}
						.tw:before,
						.fb:before,
						.in:before,
						.yt:before{
							content: "";
							position: absolute;
							width: 32px;
							height: 32px;
							left: 0;
							top: 0;
						}

					.tw:before{
						background: url(../images/icon/tw_icon.png) 0% 0% no-repeat;
					}
					.fb:before{
						background: url(../images/icon/fb_icon.png) 0% 0% no-repeat;
					}
					.in:before{
						background: url(../images/icon/in_icon.png) 0% 0% no-repeat;
					}
					.yt:before{
						background: url(../images/icon/yt_icon.png) 0% 0% no-repeat;
					}	
						.tw:hover:before{
							background: url(../images/icon/tw2.png) 0% 0% no-repeat;
						}
						.fb:hover:before{
							background: url(../images/icon/fb2.png) 0% 0% no-repeat;
						}
						.in:hover:before{
							background: url(../images/icon/in2.png) 0% 0% no-repeat;
						}
						.yt:hover:before{
							background: url(../images/icon/yt2.png) 0% 0% no-repeat;
						}
						.tw:hover,
						.fb:hover,
						.in:hover,
						.yt:hover{
							text-decoration: none;
						}
        

/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  FOOTER END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/


.container_indent{
	padding-top: 35px;
	padding-bottom: 35px;
}
.fz16{
	font-size: 16px;
}

.btn_bg_aqua{
	padding: 9px 34px 9px 22px !important;
    text-shadow: 1px 2px 1px rgba(28, 53, 111, 0.5);
	background: #2d55b1 url(../images/icon/arrow_right.png) 90% 50% no-repeat;
}
button.btn_bg_aqua{
	text-transform: capitalize;
}


/*----------------------------------  Contatct  --------------------------------*/
.cutter_form{
	margin: 20px 0;
}
	.contact_col{
		width: 36%;
	}

		.contact_col label,
		.contact_label{
			color: #000;
			font-size: 16px;
			line-height: 2;
		}
		.label_star{
			font-size: 16px;
			line-height: 32px;
			color: #ff6300;
		}
		.contact_col input,
		.contact_input{
			color: #555555;
			width: 100%;
			height: 31px;
			padding: 6px 12px;
			margin-bottom: 17px;
			border: 1px solid #cecece;
			background-color: #fff;
			font-size: 12px;
			font-family: 'Open Sans', sans-serif;
			
		}
		.contact_col input:focus,
		.contact_input:focus,
		.contact_col textarea:focus,
		.contact_textarea:focus{
			font-family: 'Open Sans', sans-serif;
			border-color: #66afe9;
		    outline: 0;
		    /* -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
		    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6); */
		}
		.contact_col textarea,
		.contact_textarea{
			font-family: 'Open Sans', sans-serif;
			color:#555555;
			font-size: 12px;
			padding: 6px 12px;
			width: 100%;
			height: 150px;
			margin-bottom: 17px;
			border: 1px solid #cecece;
			background-color: #fff;
			padding: 10px 10px 10px 15px;
		}
		.required_span{
			padding: 8px 0;
			font-size: 16px;
		}




/*--------------------------------------------*/
.specification_info{
	width: 28%;
	margin: 30px 3% 0 0;
}
	.specification_list{
		padding-left: 20px;
		margin-left: 3px;
		width: 322px;
	}
		.specification_list li{
			color: #333;
			font-size: 16px;
			position: relative;
			margin-bottom: 13px;
		}
			.specification_list li:before{
				content: "";
				width: 7px;
				height: 7px;
				top: 34%;
				left: -17px;
				position: absolute;
				background-color: #333;
			}


/* popup start */

	.arcticmodal_container_box .label_star{
		font-size: 23px;
		line-height: 30px;
	}
		.arcticmodal_container_box .cutter_form{
			margin: 0;
		}
		.form_title{
			font-family: Arial;
		    font-size: 35px;
		    color: #323;
		    text-transform: uppercase;
		    margin-bottom: 0;
		}
	.form_request{
		
	}
		.form_request_left{
			width: 34.233%;
		}
			.form_checked_box{
				
			}
				.form_checked_item{
					font-size: 16px;
					margin-bottom: 30px;
				}
					.form_checked_item input{
						margin-right: 20px;
					}
		.form_request_right{
			width: 65.466%;
		}
		.form_request_right .contact_col {
		    width: 47.165%;
		}
		.footer_copyright{
			color: #697cb5;
			text-align: center;
		}
		.footer_copyright span{
			color: #428bca;
		}
		#technical,
		#virtual{
			-ms-overflow-y: hidden;
			    overflow-y: hidden;
		}
		




	/* responsive start */
	@media only screen and (max-width: 1260px) {
		.footer-left{
			font-size: 30px;
		}
		.footer-right{
			width: 50%;
		}
	}
	@media only screen and (max-width: 1200px) {
		.arcticmodal_container_box{
			width: 1000px;
		}
	}
	@media only screen and (max-width: 1060px) {
		.arcticmodal_container_box{
			width: 905px;
		}
		.arcticmodal_container_box .contact_col {
		    width: 40%;
		}
		.modal2.arcticmodal_container_box .contact_col{
			width: 48%;
		}
	}
	@media only screen and (max-width: 992px){
		.contact_col {
		    width: 48%;
		}
		.connect_item{
			margin-bottom: 10px;
		}
		.footer_container > div.mb20{
			margin-bottom: 0;
		}
		.footer_copyright{
			margin-bottom: 0;
		}
		footer{
			padding: 20px 0;
		}
	}
	@media only screen and (max-width: 980px){
		.arcticmodal_container_box {
		    width: 765px;
		}
		.arcticmodal_container_box .contact_col {
		    width: 48%;
		}
		.modal2.arcticmodal_container_box .contact_label{
			font-size: 15px;
		}
		.form_checked_item {
		    font-size: 14px;
		    margin-bottom: 15px;
		}
	}
	@media only screen and (max-width: 840px){
		.arcticmodal_container_box {
		    width: 650px;
		}
		.arcticmodal_container_box .contact_col ,
		.modal2.arcticmodal_container_box .contact_col,
		.form_request_left,
		.form_request_right{
		    width: 100%;
		    margin: 0;
		}
	}
	@media only screen and (max-width: 710px){
		.arcticmodal_container_box {
		    width: 560px;
		}
		.footer-left{
			width: 48%;
		}
	}
	@media only screen and (max-width: 630px){
		.arcticmodal_container_box {
		    width: 460px;
		}
	}
	@media only screen and (max-width: 560px){
		.arcticmodal_container_box {
		    width: 400px;
		}
		.form_title{
			font-size: 25px;
			margin-bottom: 10px;
		}
	}
	@media only screen and (max-width: 497px){
		.contact_col{
			width: 100%;
			margin: 0;
		}
		.title2, 
		.title2_2{
			font-size: 30px;
		}
		.contact_col input, 
		.contact_input{
			margin-bottom: 8px;	
		}
		.container_indent{
			padding-bottom: 20px;
			padding-top: 20px;
		}
		.cutter_form{
			margin-bottom: 0;
		}
		.footer-left,
		.footer-right{
			width: 100%;
			float: none;
			text-align: center;
		}
	}
	@media only screen and (max-width: 460px){
		.arcticmodal_container_box {
		    width: 300px;
		}
		.arcticmodal-container_i2{
			padding: 0;
		}
	}
	/* responsive end */

/* popup end */